@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7c5aed;
  --color-secondary: #009688;
  --color-background: #202122;
  --color-primary-contrast: #fafafa;
  --color-paper: #232323;
  --color-error: #980000;
  --color-text: #fafafa;
}

body[light] {
  --color-primary: #7c5aed;
  --color-secondary: #009688;
  --color-background: #EFF0F0;
  --color-primary-contrast: #fafafa;
  --color-paper: #fafafa;
  --color-error: #980000;
  --color-text: #202122;
}

* {
  box-sizing: border-box;
  @apply outline-primary outline-1 -outline-offset-2;
} 

html,
body {
  overflow: overlay;
  @apply bg-background text-text w-screen h-screen underline-offset-8 m-0 p-0;
}

a {
  @apply hover:underline;
}