@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7c5aed;
  --color-secondary: #009688;
  --color-background: #121214;
  --color-primary-contrast: #fafafa;
  --color-paper: #202027;
  --color-error: #980000;
  --color-text: #fafafa;
}

body[light] {
  --color-primary: #7c5aed;
  --color-secondary: #009688;
  --color-background: #EFF0F0;
  --color-primary-contrast: #fafafa;
  --color-paper: #fafafa;
  --color-error: #980000;
  --color-text: #202122;
}

* {
  box-sizing: border-box;
  @apply outline-primary outline-1 -outline-offset-2;
} 

html,
body {
  overflow: overlay;
  @apply bg-background text-text h-screen underline-offset-8 m-0 p-0;
}

a {
  @apply hover:underline;
}

.overflow-primary::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

*::-webkit-scrollbar {
  @apply h-3 w-2;
}

*::-webkit-scrollbar-button {
  @apply hidden;
}

*::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-full bg-paper;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent;
}